<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Room Booking</title>
</head>
<body>
        <label for="list_of_rooms"></label>
        <h1><input id="list_of_rooms" type="submit" value="Lista sal"
                   onclick="location.href='{% url 'list_of_rooms' %}';" />
        <input type="submit" value="Dodaj sale"
               onclick="location.href='{% url 'add_room' %}';" /></h1>

        <form action="search/" method="get">
            <label for="capacity">Wymagana pojemność sali</label>
                <input id="capacity" type="number" min="2" name="capacity">

            <label for="projector">Rzutnik</label>
                <input id="projector" type="checkbox" name="projector">

            <input type="submit" value="Szukaj">
        </form>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}

            {% block content %}

            {% endblock %}

<footer class="footer">
      <div class="container">
        <span class="text-muted">
            Autor: Andrzej Jończy
         <p>wszelkie prawa zastrzeżone</p>
        </span>
      </div>
    </footer>
</body>
</html>