<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Room Booking</title>
</head>
<body>
        <br>
        <label for="list_of_rooms"></label>
        <input id="list_of_rooms" type="submit" value="Lista sal"
               onclick="location.href='{% url 'list_of_rooms' %}';" />
        <input type="submit" value="Dodaj sale"
               onclick="location.href='{% url 'add_room' %}';" />
        <br><br>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}


{% block content %}

    {% endblock %}
<footer>
    Autor: Andrzej Jończy
    <p>wszelkie prawa zastrzeżone</p>
</footer>
</body>
</html>