{% extends 'base.html' %}

{% block content %}

<h2>Sala konferencyjna: {{ conference_room.name }}</h2>
<h3>Pojemność sali: {{ conference_room.capacity }} | Dostępność rzutnika: {{ conference_room.projector }}
| <input type="submit" value="edytuj"
         onClick="location.href='{% url 'modify_room' room.pk %}';">
| <input type="submit" value="usuń"
           onClick="location.href='{% url 'delete_room' room.pk %}';">
| <input type="submit" value="zarezerwuj"
           onClick="location.href='{% url 'reserve_room' room.pk %}';">

    <ul>
    {% reservation in all_booking_room %}
        <li>
            {{ reservation.date_of_booking }} | {{ reservation.comment }}
        </li>
    {% endfor %}
    </ul>


{% endblock %}