{% extends 'base.html' %}

{% block content %}
        <ul>
        {% for room in conference_rooms %}
            <li>
                {{ room.name }}
                | {{ room.capacity }}
                | {{ room.projector }}
                | <input type="submit" value="edytuj"
                         onClick="location.href='{% url 'APP_conference_room_booking_app:modify_room' room.pk %};">
                | <input type="submit" value="usuń" onClick="location.href='{% url 'delete_room' room.pk %};">
                | <input type="submit" value="zarezerwuj" onClick="location.href='{% url 'reserve_room' room.pk %};">
            </li>
        {% endfor %}
        </ul>
{% endblock %}