{% extends 'base.html' %}

{% block content %}
        {% if message_2 %}
            {{ message_2 }}
        {% endif %}
        <br>

        <table border cellpadding="10" frame="void" rules="all">
            <tr bgcolor="lightgray">
                <th>Nazwa<br> sali</th>
                <th>Pojemność<br> sali</th>
                <th>Dostępność<br> rzutnika</th>
            </tr>
        {% for room in conference_rooms %}
            <tr align="center">
                <td><a href="{% url 'details_room' room.pk %}">{{ room.name }}</a></td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.projector }}</td>
                <td><input type="submit" value="edytuj"
                         onClick="location.href='{% url 'modify_room' room.pk %}';"></td>
                <td><input type="submit" value="usuń"
                           onClick="location.href='{% url 'delete_room' room.pk %}';"></td>
                <td><input type="submit" value="zarezerwuj"
                           onClick="location.href='{% url 'reserve_room' room.pk %}';"></td>
            </tr>
        {% endfor %}
        </table>

{% endblock %}