{% extends 'base.html' %}

{% block content %}
    <h2>Rezerwowanie sali konferencyjnej: {{ room_name }}</h2>
    <form action="" method="POST">
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Dodaj">
    </form>
    <ul>
        <h2>Lista rezerwacji: </h2>
        {% if bookings %}
            {% for reservation in bookings %}
                <li>
                    {{ reservation.date_of_booking }}
                    {% if reservation.comment is None %}
                    | ----------------------
                    {% else %}
                    | {{ reservation.comment }}
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
        <p>Brak rezerwacji</p>
        {% endif %}
    </ul>
{% endblock %}